@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;900&family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font2);
}

:root{
    --font1: 'Poppins', sans-serif;
    --font2: 'Montserrat', sans-serif;
    --cor1: #AA2218;
    --shadow: 'box-shadow: 1px 1px 6px red';
}

header{
    background-image: url(../imagens/pexels-geancarlo-peruzzolo-6796964.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 1px 1px 6px red;
}

header > nav{
    
}

nav > ul{
    background: url(../imagens/boku.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    list-style: none;
    transition: ease;
    
}

nav > ul > li a{
    background-color: rgba(34, 33, 33, 0.692);
    width: 100%;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.705);
}

nav > ul > li a:hover{
    text-decoration: underline;
}



header span{
    background-color: black;
    color: yellow;
    height: 23px;
    cursor: pointer;
}

/*secão das imagens*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.img1 {
    background-image: url(../imagens/pexels-geancarlo-peruzzolo-6796964.jpg);

    background-size: cover;
    width: 96vw;
    height: 350px;
    margin: 20px 0px;
    border-radius: 10px;
}

section > h1.titulo1{
    font-family: var(--font1);
    font-size: 1em;
}

span{
    color: #AA2218;;
}

div.img2{
    background-image: url(../imagens/pexels-william-choquette-1954524.jpg);

    background-size: cover;
    width: 96vw;
    height: 350px;
    margin: 20px 0px;
    border-radius: 10px;   
}

/*Seção chamada para a Ação*/

section.section2{
    font-family: var(--font2);
    text-align: center;
    
}  

section.section2 > h1{
    font-size: 1.5em;
    margin-bottom: 10px;
    
}

section.section2 > p{
    font-size: 1.1em;
    margin-bottom: 40px;
}

section > div.titulo3{
    font-family: var(--font2);
    margin-bottom: 20px;
}

section > div.blog{
    display: flex;
    justify-content: end;
    width: 70vw;
}

section > div.blog > a{
    background-color: var(--cor1);
    font-family: var(--font2);
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 1px 1px 6px red;
    margin-bottom: 60px;
    
}

/*parte das fotos dos artigos*/

section.conteiner1{
    border: solid 1px rgba(0, 0, 0, 0);
    width: 90%;
    height: 630px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.205);
    overflow: hidden;
    border-width: 0px;

}

section.artigo{
    background-image: url(../imagens/imagem1.jpg);

    background-size: cover;
    width: 100%;
    height: 370px;
}

article.article1{
    text-align: justify;
    padding: 30px;
}

article.article1 h2{
    font-size: 1em;
    font-family: var(--font2);
    color: var(--cor1);
    margin-bottom: 12px;
}

article.article1 p{
    font-family: var(--font2);
    margin-bottom: 25px;
}

article.article1 a{
    font-family: var(--font2);
    text-decoration: none;
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    border-radius: 20px;
}

/*Segunda Foto*/

section.conteiner2{
    border: solid 1px rgba(0, 0, 0, 0);
    width: 90%;
    height: 660px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.205);
    overflow: hidden;
    border-width: 0px;
    margin-top: 70px;

}

section.artigo2{
    background-image: url(../imagens/imagem2.webp);

    background-size: cover;
    width: 100%;
    height: 370px;
}

article.article2{
    text-align: justify;
    padding: 30px;
}

article.article2 h2{
    font-size: 1em;
    font-family: var(--font2);
    color: var(--cor1);
    margin-bottom: 12px;
}

article.article2 p{
    font-family: var(--font2);
    margin-bottom: 25px;
}

article.article2 a{
    font-family: var(--font2);
    text-decoration: none;
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    border-radius: 20px;
    
}

/*Terceira foto*/

section.conteiner3{
    border: solid 1px rgba(0, 0, 0, 0);
    width: 90%;
    height: 660px;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.205);
    overflow: hidden;
    border-width: 0px;
    margin: 70px 0px;

}

section.article3{
    background-image: url(../imagens/imagem3.webp);

    background-size: cover;
    width: 100%;
    height: 370px;
}

article.article3{
    text-align: justify;
    padding: 30px;
}

article.article3 h2{
    font-size: 1em;
    font-family: var(--font2);
    color: var(--cor1);
    margin-bottom: 12px;
}

article.article3 p{
    font-family: var(--font2);
    margin-bottom: 25px;
}

article.article3 a{
    font-family: var(--font2);
    text-decoration: none;
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    border-radius: 20px;
}

/* Rodapé do site */


footer{
    background-color: rgb(24, 23, 23);
}


section.footer{
    padding: 30px;
}

.footer > ul > li{
    margin-top: 10px;
    list-style: none;
}

.footer > ul > li a{
    color: white;
    text-decoration: none;   
}

.footer > ul > li a:hover{
    color: rgb(182, 177, 177);
    text-decoration:underline;
}

/*informações so site*/

section.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.borda{
    border-top: 1px solid rgba(209, 204, 204, 0.226);
    width: 80%;
    margin-bottom: 30px;
}

section > div.imgfooter{
    background-image: url(../imagens/logoacademia2.png);
    
    width: 150px;
    height: 60px;
    margin-bottom: 20px;   
}

section > div.endereco{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    color: white;
    font-size: 0.9em;
    margin-bottom: 40px;
}

section div.social{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 0.8em;
    margin-bottom: 50px;
}

div.social > img{
    width: 50px;
    
}

/*contato*/

section.contato{
    color: white;
    padding: 15px;
}

section.contato > h2{
   
}

section > div.cont{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0px;
}

section > div.cont2{
    display: flex;
    align-items: start;
    margin-bottom: 50px;
}

section > div.cont img{
    padding-bottom: 5px;
}

section > div.par1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

section > div.par2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}


section.parceiros  img{
    width: 50px;
}

section.final{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8.5px;
    background-color: black;
    color:white;
    width: 100%;
    height: 50px;
}














